################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Petroleum_Core/v16/Server/sqlite3
/PetroleumCore/obj
/PetroleumModel/obj
/PetroleumService/obj
/Repository/obj
/ServiceExt/obj
